*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --secondary-dark: #0084FD;
    --secondary-light: #B5DDFF;
    --primary-color: #9792E4;
    --dark: #333333;
    --contrast-color: #FDC15F;
    --light-color: #FFFFFF;
}


/* icons 
<i class="fa-brands fa-apple"></i>
<i class="fa-solid fa-file-code"></i>
<i class="fa-solid fa-compass-drafting"></i>
<i class="fa-solid fa-laptop-code"></i>
<i class="fa-solid fa-bullhorn"></i>
<i class="fa-solid fa-arrow-down-long"></i>
<i class="fa-solid fa-quote-left"></i>
<i class="fa-solid fa-quote-right"></i>
<i class="fa-brands fa-linkedin"></i>
*/
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'PT Sans', sans-serif;
}

.container{
    padding: 20px;
    margin: 0 auto;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header */
header{
    background-color: var(--secondary-dark);
    color: var(--light-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 80px;
}

header nav{
    display: flex;
    justify-content: space-between;
}

header nav ul{
    display: none;
}

/* main */
main{
    margin-top: 80px;
}
.even{
    background-color: var(--primary-color);
}

/* footer */
footer{
    background-color: var(--dark);
    color: var(--light-color);
}

/* SOLUZIONE DI CHIARA
img {
    width:120px;
    height:120px;
    border-radius: 50%;
    object-fit: cover;
} */

/* SOLUZIONE DI FILIPPO
div {
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  } */


/* SOLUZIONE DI CLELIA
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
} */